<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>821601793959-lve6tbgciuamjpnrp6qk76vvp0rdn0o0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821601793959-lve6tbgciuamjpnrp6qk76vvp0rdn0o0</string>
	<key>API_KEY</key>
	<string>AIzaSyBbi6D_d-fpXiBrzyY0A2TfxQj7e3wLCus</string>
	<key>GCM_SENDER_ID</key>
	<string>821601793959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homeImprovement</string>
	<key>PROJECT_ID</key>
	<string>home-improvement-ver-2</string>
	<key>STORAGE_BUCKET</key>
	<string>home-improvement-ver-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821601793959:ios:e7f92e662b1737cd59e882</string>
	<key>DATABASE_URL</key>
	<string>https://home-improvement-ver-2-default-rtdb.firebaseio.com</string>
</dict>
</plist>